# Backend
backend/bin/
backend/cmd/api/bootstrap
backend/cmd/youtube/bootstrap
backend/cmd/migrate/bootstrap

# Frontend
frontend/node_modules/
frontend/dist/

# Infra
infra/node_modules/
infra/cdk.out/
infra/cdk.context.json

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Environment
.env
.env.local
